  /*Start of Navbar and its content*/
  .top-nav {
    width: 100%; /*Use 100% of the body width*/
    position: fixed; /*Position of the nav bar will be fixed*/
    height: 5.5rem; /*Height of the nav bar*/
    background-color: rgb(15, 15, 15);
    overflow: hidden;
    z-index: 2;
    padding-top: 1.5rem;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
    height: 100%; /*Use 100% of the height of the nav bar*/
    justify-content: space-evenly; /*Align the flex items at the evenly of the container*/
  }
  
  /*Navbar links properties*/
  .nav-link {
    font-family: "Saira", sans-serif;
    text-decoration: none;
    filter: grayscale(100%) opacity(5);
    font-size: 26px;
  }
  
  /*Navbar link color*/
  a.nav-link {
    color: var(--link-font-color);
  }
  
  /*when the link in the nav bar is clicked on*/
  .nav-link:active {
    color: white;
  }
  
  /*properties for the social icons*/
  .socials i {
    padding: 6px;
    margin: 2px, 1px;
    font-size: 2rem;
    position: relative;
  }
  
  /*properties for the github icon*/
  .fa-github {
    overflow: hidden;
    background-size: 100% 200%;
    background-image: linear-gradient(
      to top,
      rgb(69, 38, 247) 5%,
      rgb(102, 187, 212),
      white 50%
    );
    /* color: #fff; */
    -webkit-background-clip: text; /*Makes it so that it only colors the icon and not the container*/
    -webkit-text-fill-color: transparent;
    transition: background-position 0.3s ease-in-out, color 0.2s ease-in-out;
  }
  
  /*properties for the github icon when hovered over, make color transition*/
  .fa-github:hover,
  .fa-github:focus {
    -webkit-background-clip: text; /*already have it above so could be removed*/
    -webkit-text-fill-color: transparent;
    background-position: 0 100%;
  }
  
  /* Switch properites
  .switch {
    position: fixed;
    width: 60px;
    height: 24px;
    display: flex;
    top: 10px;
    right: 0.4rem;
  }
  
  /* Hide default HTML checkbox */
  /* .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  } */
  
  /*Set up slider box*/
  /* .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(146, 215, 243);
    background-color: #454647;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
  } */
  
  /*Set up slider circle that is inside the box*/
  /* .slider:before {
    position: absolute;
    content: ""; 
    height: 20px;
    width: 20px;
    left: 3px;
    top: 2px;
    bottom: 4px;
    background-color: rgb(255, 255, 255);
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px; 
  }  */
  
  /*Make the silder circle move when clicked on the slider*/
  /* input:checked + .slider:before {
    -webkit-transform: translateX(34px);
    -ms-transform: translateX(34px);
    transform: translateX(34px);
    
    background-color: rgb(245, 189, 35);
  } */
  
  /*Set background of the slider after being clicked*/
  /* input:checked + .slider {
    background-color: rgb(146, 215, 243);
  } */
  /*End of nav bar contents*/