:root {
    --font-color: #lightgrey;
    --link-font-color: #e1e1ff;
    --bg-color: #0c3d37;
    --heading-color: #818cab;
    --button-color: #0c3d37;
    --button-color-hover: #114f48; /* lighter color of the one above it*/
    --button-color-text: black;
    }
  /* 
    #ADDFAD moss green  
    #1DB954 Spotify green
  */
  
  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  
    [data-mode="light"] {
      --primary-color: #302ae6;
      --secondary-color: #536390;
      --font-color: #232835;
      --link-font-color: rgb(137, 137, 141);
      --bg-color: #0c3d37;
      --button-color: rgb(41, 41, 43);
      --button-color: #232835;
      --button-color-hover: #39435c;
      --button-color-text: white;
    }
  
  main {
    width: 70%;
    padding: 30px 20px;
    margin: 0 auto;
    min-height: calc(
      100vh - 48px - 129.73px
    ); /* at minimum, footer will be at bottom (viewport - size of navbar - size of footer) */
  }
  
  #input_container {
    width: 80%;
  }
  
  #L {
    float: left;
    width: 40%;
    padding: 0.7rem 3rem;
  }
  #M {
    float: left;
    width: 40%;
    padding: 0.7rem 3rem;
  }
  #R {
    float: left;
    width: 20%;
    /* padding: 0.7rem 3rem; */
    /* vertical-align: middle; */
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--bg-color);
    transition: background 0.4s;
    color: var(--font-color);
    position: relative;
    padding-bottom: 129.73px;
    min-height: 100vh;
  }
  
  p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }
  
  body::-webkit-scrollbar {
    width: 1rem;
  }
  body::-webkit-scrollbar-track {
    background: rgb(15, 15, 15);
  }
  body::-webkit-scrollbar-thumb {
    background: #2e2e2e;
    border-radius: 19px;
  }
  
  a {
    text-decoration: none;
    color: var(--font-color);
  }
  