<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/stylesheets/navbar.css">
    <link rel="stylesheet" href="../static/stylesheets/footer.css">
    <link rel="stylesheet" href="../static/stylesheets/about-content.css">
    <link rel="stylesheet" href="../static/stylesheets/root.css">


    <title>About</title>
</head>
<body>
    <h1>Will fill in with information for about page later. </h1>
</body>
</html>